<!DOCTYPE html>
<html>
	<head>
		<title>My account</title>
		<link rel='stylesheet' href='css/styles.css'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	</head>
	<body>
		<header>
			<div>My account</div>
			<div>
				<a id='home-button' href='/'>Home</a>
				<a id='signout-button' href='/signout'>Sign out</a>
			</div>
		</header>
		<div id='account-content'>
			<main id='account-main'>
				<div id='account-photo-section'>
					<div id='account-container'></div>
				</div>
				<div id='account-photo-buttons'>
					<input type="file" id='account-upload' accept='.jpg, .jpeg, .png'>
					<button id='account-capture-button' disabled>Take a Picture</button>
					<button id='account-clear-button'>Clear</button>
				</div>
				<h1 id='account-stickers-h1'>Stickers</h1>
				<div id='account-stickers'></div>
			</main>
			<aside id='account-aside'>
				<div id='message-container'></div>
				<div>
					Change email: <input id='account-email' type='text' value=''>
					<button id='account-change-email-button'>Submit</button>
				</div>
				<div>
					Change login: <input id='account-login' type='text' value=''>
					<button id='account-change-login-button'>Submit</button>
				</div>
				<div>
					Change password: <input id='account-password' type='password' value=''>
					<button id='account-change-password-button'>Submit</button>
				</div>	
				<div id='account-user-pictures'></div>
			</aside>
		</div>
		<footer>@ grevenko 2018</footer>
	</body>
	<script src='js/account.js' type='module'></script>
	<script src='/js/utils.js' type='module'></script>
</html>
