<!DOCTYPE html>
<html>
	<head>
		<title>My account</title>
		<!-- <link rel='stylesheet' href='css/common.css'>
		<link rel='stylesheet' href='css/account.css'> -->
		<link rel='stylesheet' href='css/styles.css'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	</head>
	<body>
		<header>
			<div id='hello'></div>
			<div id='photo-buttons'>
				<label for='file-upload' class='custom-file-upload'>UPLOAD A FILE</label>
				<input id='file-upload' id='upload' accept='.jpg, .jpeg, .png' type='file'/>
				<!-- <input type="file" id='upload' accept='.jpg, .jpeg, .png'> -->
				<button id='capture-button' disabled>TAKE A PICTURE</button>
				<button id='clear-button'>CLEAR</button>
			</div>
			<div>
				<a id='home-button' href='/'>HOME</a>
				<a id='signout-button' href='/signout'>SIGN OUT</a>
			</div>
		</header>
		<div id='content'>
			<main>
				<div id='photo-section'>
					<div id='container'></div>
				</div>
				<div id='stickers-container'>
					<button id='stickers-back'>&#8678;</button>
					<div id='stickers'></div>
					<button id='stickers-forward'>&#8680;</button>
				</div>
			</main>
			<section id='change-section'>
				<div id='message-container'></div>
				<div id='change-container'>
					<div>
						<input id='email' placeholder='Email' type='text' value=''>
						<button id='change-email-button'>CHANGE</button>
					</div>
					<div>
						<input id='login' placeholder='Login' type='text' value=''>
						<button id='change-login-button'>CHANGE</button>
					</div>
					<div>
						<input id='password' placeholder='Password' type='password' value=''>
						<button id='change-password-button'>CHANGE</button>
					</div>
					<button id='notification'></button>
				</div>
			</section>
			<div id='user-photos'></div>
		</div>
		<footer>@ grevenko 2018</footer>
	</body>
	<script src='js/account.js' type='module'></script>
	<script src='/js/utils.js' type='module'></script>
</html>
