<!DOCTYPE html>
<html>
	<head>
		<title>Camagru</title>
		<link rel='stylesheet' href='css/styles.css'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<div id='website-title'>Camagru Gallery</div>
			<div id='header-buttons-div'></div>
		</header>
		
		<div id='form-container' class='invisible'>
			<span id='home-message-container'></span>
		</div>
		<main id='home-main'>
			<div id='gallery'></div>
		</main>
	</body>
	<script src='/js/home.js' type='module'></script>
	<script src='/js/utils.js' type='module'></script>
</html>
