<!DOCTYPE html>
<html>
	<head>
		<title>Reset Password</title>
		<link rel='stylesheet' href='css/styles.css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header id='reset-password-header'>
			<a id='reset-password-home-link' href='/'>Home</a>
		</header>
		<main id='reset-password-main'>
			<div id='reset-password-message-container'></div>
			<form id='reset-password-form'>
				<input id='reset-password-password' placeholder='New password' type='password' value=''>
				<input type='submit' value='Submit' id='reset-password-page-button'>
			</form>
		</main>
	</body>
	<script src='js/resetPassword.js' type='module'></script>
</html>
