<!DOCTYPE html>
<html>
	<head>
		<title>Reset Password</title>
		<link rel='stylesheet' href='css/styles.css'>

			<!-- TEMP CHANGE -->
		<!-- <link rel='stylesheet' href='../public/css/styles.css'> -->
	</head>
	<body>
		<header>
			<form id='reset-password-form'>
				<input id='reset-password-password' placeholder='New password' type='password' value=''>
				<input type='submit' value='Submit'>
			</form>
			<a id='go-home-link' href='/'>Go Home</a>
		</header>
		<div id='reset-password-message-container'></div>
	</body>
	<script src='js/resetPassword.js' type='module'></script>
</html>
