#content {
	margin-top: 5vmin;
	margin-bottom: 5vmin;
	padding: 1vmin;
}

#photo-buttons input {
	background-color: var(--dark-color);
}

#photo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#container {
	position: relative;
	overflow: hidden;
	width: 80vmin;
	height: 60vmin;
	margin: 1vmin;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}

#video-error {
	text-align: center;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#message-container {
	margin: 1vmin;
}

#change-container {
	display: flex;
	flex-direction: row;
	margin: 1vmin;
}

#stickers-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#stickers-container button {
	font-size: 3em;
}

#stickers {
	height: 25vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1vmin;
	overflow: hidden;
}

.sticker {
	height: 25vmin;
	cursor: pointer;
}

#change-section button {
	padding: 0.5vmin;
}

#user-photos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-photo {
	width: 100%;
	margin-top: 1%;
}
