body {
	font-family: Georgia;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header a {
	margin: 1vmin;
	text-decoration: none;
}

/* #content {
	display: flex;
	flex-direction: row;
	padding: 1vmin;
} */

#photo-buttons {
	display: flex;
	justify-content: center;
	margin: 1vmin;
	align-items: center;
}

#photo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#container {
	position: relative;
	overflow: hidden;
	width: 80vmin;
	height: 60vmin;
	margin: 1vmin;
	border: 1px solid black;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}

#video-error {
	text-align: center;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#message-container {
	margin: 1vmin;
}

#change-container {
	display: flex;
	flex-direction: row;
	margin: 1vmin;
}

#stickers-container {
	display: flex;
	align-items: center;
}

#stickers-container button {
	width: 5%;
}

#stickers {
	width: 90%;
	height: 25vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1vmin;
	overflow: hidden;
}

.sticker {
	height: 25vmin;
	cursor: pointer;
}

#user-photos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-photo {
	width: 100%;
	margin-top: 1%;
}

.invisible {
	display:none
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c1bdba;
	z-index: 2;
	opacity: 0.6;
}

.custom-confirm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	padding: 3vmin;
	color: white;
	background-color: rgb(19, 35, 47);
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	opacity: 1;
}

.custom-confirm button {
	width: 50%;
}

.no-scroll {
	overflow: hidden;
}
