#header-buttons-div button {
	margin: 0.5vmin;
}

main {
	margin-top: 5vmin;
}

#websit-title {
	margin: 1vmin;
}

#message-container {
	margin: 1vmin;
	text-align: right;
}

#form-container {
	position: fixed;
	top: 5vmin;
	right: 0;
	padding: 1vmin;
	background-color: var(--dark-color);
	border: 1px solid white;
}

#form-container input {
	margin-right: 1vmin;
}

#form-container button {
	margin-right: 1vmin;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-container {
	width: 50%;
	margin: 3vmin;
	padding: 4vmin;
	background-color: var(--dark-transparent-color);
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.photo-container:hover {
	background-color: rgb(18, 35, 47);
}

.photo {
	width: 100%;
}

.like-comment {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1vmin;
}

.like-symbol {
	color: orange;
}

.like {
	margin-right: 2vmin;
	color: orange;
}

.comment-container {
	display: flex;
}

.comment-symbol {
	color: #1ab188;
}

.comment {
	color: #1ab188;
}

.delete-comment-button {
	margin-left: 1vmin;
	padding: 0;
	padding-left: 0.5vmin;
	padding-right: 0.5vmin;
}

.login-div {
	font-weight: bold;
	margin-right: 1vmin;
	color: #a0bbb0;
}

.add-comment-input {
	margin-top: 1vmin;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

.invisible {
	display:none
}
