:root {
	--button-color: rgb(199, 105, 46);
	--header-color: rgba(101, 82, 73, 0.8);
	--message-container-color: rgb(101, 82, 73, 0.8);
	--main-background-color: rgb(202, 165, 146);
	--input-color: rgba(254, 146, 81, 0.5);
	--login-color: rgb(224, 224, 232);
	--like-color: rgb(255, 188, 145);
	--comment-color: rgb(245, 253, 255);
	--highlighted-comment-color: rgb(255, 98, 1);
}

#header-buttons-div button {
	margin: 0.5vmin;
}

main {
	margin-top: 6vh;
	margin-bottom: 3vh;
}

#website-title {
	font-size: 3vh;
}

#message-container {
	position: fixed;
	top: 12vh;
	right: 0;
	background-color: var(--header-color);
	padding: 1vh;
	text-align: right;
}

#form-container {
	position: fixed;
	top: 6vh;
	right: 0;
	height: 4vh;
	padding: 1vh;
	background-color: var(--header-color);
}

#form-container input {
	margin-right: 1vmin;
}

#form-container button {
	margin-right: 1vmin;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-container {
	width: 50%;
	margin: 3vmin;
	padding: 4vmin;
	background-color: var(--header-color);
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.photo {
	width: 100%;
}

.like-comment {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1vmin;
}

.like-symbol {
	color: var(--like-color);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.like-symbol:hover {
	position: relative;
	color: red;
}

.like {
	margin-right: 2vmin;
	color: var(--like-color);;
}

.comment-container {
	display: flex;
}

.comment-symbol {
	color: var(--comment-color);
}

.comment {
	color: var(--comment-color);
}

.delete-comment-button {
	margin-left: 1vh;
	margin-top: -1vh;
	padding: 0;
	padding-left: 0.5vh;
	padding-right: 0.5vh;
}

.login-div {
	font-weight: bold;
	margin-right: 1vmin;
	color: var(--login-color);
}

.add-comment-input {
	margin-top: 1vmin;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}
