body {
	box-sizing: border-box;
	min-width: 320px;
	min-height: 320px;
	margin: 0;
	font-family: open sans;
	background-color: #fafafa;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 77px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ffffff;
	resize: both;
}

header a {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	font-weight: bold;
	text-decoration: none;
	color: #262626;
	background-color: transparent;
}

header a:visited {
	text-decoration: none;
}

header a:hover {
	cursor: pointer;
}

button {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	font-weight: bold;
	color: #262626;
	background-color: transparent;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

input {
	box-sizing: border-box;
	padding: 5px;
	color: #717171;
	border: 0;
	border-radius: 4px;
}

input:focus {
	color: #717171;
}

::placeholder { /* Firefox */
	color: #717171;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #717171;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #717171;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c1bdba;
	z-index: 2;
	opacity: 0.6;
}

#custom-confirm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	padding: 1%;
	background-color: #fafafa;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	opacity: 1;
}

#custom-confirm button {
	width: 48%;
	margin: 1%;
}

.no-scroll {
	overflow: hidden;
}

.invisible {
	display: none
}

#header-buttons-div button {
	margin: 10px;
}

#home-main {
	padding-top: 77px;
}

#home-message-container {
	position: fixed;
	top: 123px;
	right: 0;
	padding: 0.5%;
	text-align: right;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

#account-message-container {
	padding: 1%;
	text-align: center;
}

#reset-password-message-container {
	background-color: #13232f;
	padding: 1%;
}

#form-container {
	position: fixed;
	top: 77px;
	right: 0;
	padding: 0.5%;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

#form-container input {
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-container {
	max-width: 614px;
	margin: 1%;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	background-color: #ffffff;
}

.login {
	margin: 5px;
	font-weight: 600;
	color: #262626;
}

.photo {
	width: 100%;
}

.like-comment {
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.like-symbol:hover {
	cursor: pointer;
}

.like {
	margin-right: 1%;
}

.comment-container {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete-comment-button {
	margin-left: 10px;
	padding: 0;
	border: 0;
}

.login-div {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 600;
	color: #262626;
}

.add-comment-input {
	width: 100%;
	margin-top: 1%;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#content {
	padding-top: 77px;
}

.custom-file-upload {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	font-weight: bold;
	color: #262626;
	background-color: transparent;
}

.custom-file-upload:hover {
	cursor: pointer;
}

#capture-button:disabled {
	cursor: auto;
}

#palette {
	box-sizing: initial;
}

#photo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #f9f9fa;
}

#container {
	position: relative;
	overflow: hidden;
	width: 80vmin;
	height: 60vmin;
	margin: 1%;
	border: 1px solid black;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}

#video-error {
	text-align: center;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#change-container {
	display: flex;
	justify-content: center;
	border: 1px solid #dbdbdb;
}

#stickers-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

#stickers-carousel-buttons {
	display: flex;
	justify-content: center;
}

#stickers-container button {
	margin: 1%;
	padding: 1%;
}

#stickers {
	height: 20vmin;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1%;
	overflow: hidden;
}

.image-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vmin;
	height: 20vmin;
	margin-left: 15px;
	margin-right: 15px;
}

.sticker {
	width: 20vmin;
	cursor: pointer;
}

#change-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#change-section input {
	margin: 5px;
}

#user-photos {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9fa;
}

.user-photo-container {
	margin: 1%;
}

.user-photo {
	width: 100%;
}

.publish-button {
	width: 50%;
}

.delete-button {
	width: 50%;
}

input[type="file"] {
	display: none;
}

.signature {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid black;
}

#sign-button:disabled {
	cursor: auto;
}
