:root {
	--button-color: rgb(199, 105, 46);
	--header-color: #2a313c;
	--message-container-color: rgb(101, 82, 73, 0.8);
	--main-background-color: #49bff3;
	--input-color: rgba(254, 146, 81, 0.5);
	--login-color: #373944;
	--like-color: #41bef5;
	--comment-color: #41bef5;
	--highlighted-comment-color: rgb(255, 98, 1);
	--photo-container-odd-color: #f9f9fa;
	--photo-container-even-color: #ffffff;
}

body {
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
	font-size: 2vh;
	font-family: open sans;
	background-color: var(--main-background-color);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 4vh;
	top: 0;
	padding: 1vh;
	z-index: 1;
	background-color: var(--header-color);
	color: white;
}

header a {
	width: 4vh;
	margin: 1.5vmin;
	padding: 1vh;
	border: 0;
	border-radius: 1px;
	font-size: 2vh;
	color: #ffffff;
	font: 400 11px system-ui;
	text-decoration: none;
	background-color: var(--button-color);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

header a:visited {
	text-decoration: none;
	color: white;
}

header a:hover {
	position: relative;
	top: 1px;
	left: 1px;
	background-color: var(--photo-hover-color);
	cursor: pointer;
}

input {
	padding: 0.5vmin;
	font-size: 2vh;
	color: #afafaf;
	border: 0;
	border-radius: 4px;
}

input:focus {
	outline: #afafaf;
}

::placeholder {
	color: #afafaf;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #afafaf;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #afafaf;
}

button {
	height: 4vh;
	border: 0;
	font-size: 2vh;
	background-color: var(--header-color);
	color: #3c86a9;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.green-button {
	color: #5f9020;
	border: 1px solid #5f9020;
	border-radius: 6px;
}

.green-button:hover {
	color: #ffffff;
	background-color: #5f9020;
}

footer {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 3vh;
	bottom: 0;
	z-index: 1;
	padding-left: 1vh;
	background-color: var(--header-color);
	color: white;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c1bdba;
	z-index: 2;
	opacity: 0.6;
}

#custom-confirm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	padding: 3vmin;
	color: white;
	background-color: rgb(19, 35, 47);
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	opacity: 1;
}

#custom-confirm button {
	width: 48%;
	margin: 1%;
}

.no-scroll {
	overflow: hidden;
}

.invisible {
	display: none
}

#header-buttons-div button {
	margin: 0.5vmin;
}

main {
	margin-top: 6vh;
	margin-bottom: 3vh;
}

#website-title {
	font-size: 3vh;
}

#home-message-container {
	position: fixed;
	top: 12vh;
	right: 0;
	color: #ffffff;
	background-color: var(--header-color);
	padding: 1vh;
	text-align: right;
}

#account-message-container {
	background-color: var(--header-color);
	padding: 1vh;
	text-align: center;
}

#reset-password-message-container {
	background-color: var(--header-color);
	padding: 1vh;
}

#form-container {
	position: fixed;
	top: 6vh;
	right: 0;
	height: 4vh;
	padding: 1vh;
	background-color: var(--header-color);
}

#form-container input {
	margin-right: 1vmin;
}

#form-container button {
	margin-right: 1vmin;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-container {
	width: 80%;
}

.photo-container:nth-child(odd) {
	background-color: var(--photo-container-odd-color);
}

.photo-container:nth-child(even) {
	background-color: var(--photo-container-even-color);
}

.photo {
	width: 100%;
}

.like-comment {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1vmin;
	font-weight: bold;
}

.like-symbol {
	color: var(--like-color);
}

.like-symbol:hover {
	cursor: pointer;
}

.like {
	margin-right: 2vmin;
	color: var(--like-color);;
}

.comment-container {
	display: flex;
}

.comment-symbol {
	color: var(--comment-color);
}

.comment {
	color: var(--comment-color);
}

.comments {
	margin-left: 1vh;
}

.delete-comment-button {
	margin-left: 1vh;
	margin-top: -1vh;
	background-color: #41bef5;
	color: white;
	font-weight: bold;
	border-radius: 100%;
}

.login {
	padding: 1vh;
	font-size: 2vh;
	font-weight: bold;
	background-color: #5f9020;
	color: white;
}

.login-div {
	font-weight: bold;
	margin-right: 1vmin;
	color: var(--login-color);
}

.add-comment-input {
	margin: 1vh;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#hello {
	font-size: 3vh;
}

#content {
	margin-top: 6vh;
	margin-bottom: 3vh;
	padding: 1vh;
}

.custom-file-upload {
	height: 4vh;
	padding: 1vh;
	border: 0;
	border-radius: 1px;
	font-size: 2vh;
	color: #ffffff;
	background-color: var(--button-color);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;	height: 4vh;
	padding: 1vh;
	border: 0;
	border-radius: 1px;
	font-size: 2vh;
	color: #ffffff;
	background-color: var(--button-color);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.custom-file-upload:hover {
	position: relative;
	top: 1px;
	left: 1px;
	background-color: var(--photo-hover-color);
	cursor: pointer;
}

#photo-buttons input {
	background-color: var(--header-color);
}

#photo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#container {
	position: relative;
	overflow: hidden;
	width: 80vmin;
	height: 60vmin;
	margin: 1vmin;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}

#video-error {
	text-align: center;
}

#uploaded-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#change-container {
	display: flex;
	justify-content: center;
	background-color: var(--header-color);
}

#stickers-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#stickers-container button {
	height: 6vh;
	font-size: 4vh;
	vertical-align: center;
}

#stickers {
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1vmin;
	overflow: hidden;
}

#stickers img {
	margin-left: 1vw;
	margin-right: 1vw;
}

.sticker {
	height: 20vh;
	cursor: pointer;
}

#change-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#change-section button {
	margin: 5px;
	padding: 0.5vmin;
}

#change-section input {
	margin: 5px;
}

#user-photos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-photo {
	width: 100%;
	margin-top: 1%;
}

.publish-button {
	width: 49%;
	margin-right: 2%;
}

.delete-button {
	width: 49%;
}

input[type="file"] {
	display: none;
}
