@font-face {
	font-family: "Harabara Bold";
	src: url("../fonts/chalala/chalala.otf") format("opentype");
}

@font-face {
	font-family: "Youthness";
	src: url("../fonts/effort/Effort TTF.ttf") format("opentype");
}

@font-face {
	font-family: "Well Bred";
	src: url("../fonts/well-bred/Well Bred Font by Situjuh (7NTypes).otf") format("opentype");
}

@font-face {
  font-family: "Shefilla";
  src: url("../fonts/shefilla/Shefilla TTF.ttf") format("opentype");
}

* {
  font-family: "open sans";
}

label, header a, input {
  font-size: 14px;
}

#website-title, #hello {
  font-family: "Shefilla";
  font-weight: normal;
  font-size: 2em;
}

body {
  box-sizing: border-box;
  min-width: 800px;
  margin: 0;
  font-family: open sans;
  background-color: #fafafa;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  min-width: 800px;
  width: 100%;
  height: 77px;
  background-color: #ffffff;
  resize: both;
}

header a {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  color: #262626;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
}

button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: bold;
  color: #262626;
  /* background-color: transparent */;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:disabled {
  cursor: auto;
  background-color: #dbdbdb;
}

input {
  box-sizing: border-box;
  padding: 10px;
  color: #717171;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

input:focus {
  color: #717171;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="text"]:disabled {
  background-color: #dbdbdb;
}

::placeholder {
  /* Firefox */
  color: #717171;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #717171;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #717171;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1bdba;
  z-index: 2;
  opacity: 0.6;
}

#custom-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 25px;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  opacity: 1;
}

#custom-confirm button {
  width: 48%;
  margin: 1%;
}

.no-scroll {
  overflow: hidden;
}

.invisible {
  display: none !important;
}

#header-buttons-div {
  margin: 5px;
}

#header-buttons-div button {
  margin: 10px;
}

#home-main {
  padding-top: 77px;
}

#home-message-container {
  padding: 0.5%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#account-message-container {
  padding: 1%;
  text-align: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 77px;
  right: 0;
  padding: 0.5%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#form-container input {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  max-width: 614px;
  margin: 1%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #ffffff;
}

.login {
  margin: 5px;
  font-weight: 600;
  color: #262626;
}

.photo {
  width: 100%;
}

.like-comment-and-comments-container {
  padding: 5px;
}

.like-comment {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.like-symbol-active:hover {
  cursor: pointer;
}

.like-symbol-liked {
  color: red;
}

.like {
  margin-right: 10px;
}

.comment-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 22px;
}

.comment-div {
  word-break: break-all;
}

.delete-comment-button {
  margin-left: 10px;
  padding: 0;
  border: 0;
}

.login-div {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  color: #262626;
}

.add-comment-input {
  width: 100%;
  margin-top: 1%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 14px;
}

.cool-input {
  width: 100%;
  margin-top: 1%;
  box-sizing: border-box;
  padding: 10px;
  color: #717171;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 14px;
}

.add-comment-button {
  width: 100%;
}

#account-links {
  margin: 5px;
}

#photo-buttons {
  position: relative;
  top: 77px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
}

#content {
  position: relative;
  top: 77px;
  width: 100%;
}

.custom-file-upload {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: bold;
  color: #262626;
  /* background-color: transparent */;
}

.custom-file-upload:hover {
  cursor: pointer;
}

#photo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f9f9fa;
}

#container {
  position: relative;
  margin: 1%;
  max-width: 80vh;
  max-height: 60vh;
}

#video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

#video-error {
  text-align: center;
}

#uploaded-image {
  position: relative;
  max-width: 80vh;
  max-height: 60vh;
}

#change-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 800px;
}

#change-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
  border: 1px solid #dbdbdb;
}

#change-section input {
  margin: 5px;
}

#stickers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

#stickers-carousel-buttons {
  display: flex;
  justify-content: center;
}

#stickers-container button {
  padding: 30px;
}

#stickers-back {
  margin-right: 30px;
}

#stickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
}

.image-div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  max-width: 200px;
  max-height: 200px;
}

.image-div:last-child {
  margin-right: 0;
}

.sticker {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

.mobile-sticked-sticker {
  position: absolute;
  top: 0;
  left: 0;
}

.sticked-sticker:hover {
  outline: 1px solid #dbdbdb;
}

.selected-sticked-sticker {
  outline: 1px solid #dbdbdb;
}

#user-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9fa;
}

.user-photo-container {
  max-width: 614px;
  margin: 1%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #ffffff;
}

.user-photo {
  width: 100%;
}

.publish-button {
  width: 50%;
}

.delete-button {
  width: 50%;
}

input[type="file"] {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.hand-cursor {
  cursor: -webkit-grab;
  cursor: grab;
}

.horizontal-cursor {
  cursor: ew-resize;
}

.vertical-cursor {
  cursor: ns-resize;
}

.slash-cursor {
  cursor: nesw-resize;
}

.backslash-cursor {
  cursor: nwse-resize;
}

#change-sticker-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#change-buttons {
  display: flex;
  flex-direction: row;
}

#change-buttons button {
  margin: 30px;
  padding: 30px;
}

#change-scrolls {
  width: 100%;
}

.scroll {
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid #dbdbdb;
  margin: 10px;
}

.scroll::-webkit-scrollbar {
  height: 99px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #262626;
  left: 50%;
}

.scroll-content {
  width: 500%;
  height: 100%;
}

.selected-change-button {
  border: 1px solid green;
}

#reset-password-form {
  padding: 0.5%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#reset-password-message-container {
  position: fixed;
  top: 77px;
  left: 0;
  padding: 0.5%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#reset-password-home-link {
  margin: 10px;
}

#page-not-found-content {
  margin: 5px;
}

#page-not-found-home-link {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  color: #262626;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 24px;
  }

  #website-title, #hello {
    margin: 5px;
    font-size: 2em;
  }

  label, header a, input {
    font-size: 24px;
  }

  button,
  header a,
  input[type="submit"],
  input,
  .custom-file-upload {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header {
    height: 137px;
  }

  #home-main {
    padding-top: 137px;
  }

  #form-container {
    top: 137px;
  }

  #photo-buttons {
    top: 137px;
    height: 80px;
  }
  
  #content {
    top: 137px;
  }

  #home-message-container,
  #reset-password-message-container {
    top: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #account-message-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .comment-container {
    line-height: 48px;
  }
}
